/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

/* Navigation Bar */
.nav {
    background-color: #9DC183;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav a:hover {
    background-color: #4F7942;
}

.dropdown {
    position: relative;
}

.dropdown ul {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #9DC183;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.dropdown ul li {
    padding: 10px;
}

.dropdown:hover ul {
    display: block;
}

.dropdown ul li a {
    color: #fff;
    display: block;
    padding: 10px;
}

.dropdown ul li a:hover {
    background-color: #4F7942;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input[type="text"],
form input[type="password"],
form input[type="file"],
form input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #9DC183;
    color: #fff;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #4F7942;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #9DC183;
    color: #fff;
}

td {
    background-color: #f9f9f9;
}

/* Button */
button {
    background-color: #9DC183;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4F7942;
}

ol {
    margin: 10px 0;
    padding-left: 20px; 
}

.container img {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}
